<div class="row">
    <div class="col-md-12">
            <h1>Login Page</h1>
    </div>
    
</div>


<div class="row">
    <div class="col-12">
        <form #loginform="ngForm" (ngSubmit)="login(loginform)" autocomplete="off">
            <div class="row" *ngIf="authError">
                <div class="col-12 alert alertdanger">{{authError?.message}}</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="email">Email</label>
                    <input ngModel #email="ngModel" name="email" type="text" class="form-control"/>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <label for="password">Password</label>
                        <input ngModel #password="ngModel" name="password" type="text" class="form-control"/>
                    </div>
                </div>

            <div class="row mt-2">
                <div class="col-12">
                    <a href="/register">Click here to register</a>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>