<h1 class="display-3">EMP.FORM</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Full name" required>
    <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-control" placeholder="Position" required>
    <div *ngIf="position.invalid && position.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="empCode" #empCode="ngModel" [(ngModel)]="service.formData.empCode" class="form-control" placeholder="Emp. code" required>
      <div *ngIf="position.invalid && position.touched" class="validation-error">This field is required.</div>
    </div>
    <div class="form-group  col-md-6">
      <input name="mobile" #mobile="ngModel" [(ngModel)]="service.formData.mobile" class="form-control" placeholder="Mobile" required>
      <div *ngIf="mobile.invalid && mobile.touched" class="validation-error">This field is required.</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>

  <div class="row">
      <div class="col-6">
          <a href="/home">Home</a>
      </div>
      
  </div>
 
</form>